
Xft.hinting: true 
Xft.hintstyle: hintfull 
Xft.antialias: rgba 
Xft.rgba: rgb

URxvt.perl-ext-common: font-size
URxvt.keysym.C-+:     perl:font-size:increase
URxvt.keysym.C--:   perl:font-size:decrease
!URxvt.keysym.C-S-Up:   perl:font-size:incglobal
!URxvt.keysym.C-S-Down: perl:font-size:decglobal